<!DOCTYPE html>
<html 
	class="h-100" 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:include="/fragments/head :: headFragment (pageTitle='Asistencia')">
	<meta charset="UTF-8"/>
</head>
<body>
	<div class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-8">

				<form th:action="@{/asistencia/iniciarClase}" method="POST" th:object="${sesion}">
					<div class="form-group">
						<label for="carnet">Nro de Sesion</label>
						<input type="text" class="form-control" th:field="*{nIdSesion}"/>
					</div>
					
					<div class="form-group">
						<label for="hora">Hora de fin</label>
						<input type="time" class="form-control" th:value="*{tHoraFin}" th:field="*{tHoraFin}"/>
					</div>
										
					<button type="submit" class="btn btn-success btn-block">
						<i class="fa fa-play"></i> Iniciar clase
					</button>
				</form>			
			</div>
		</div>
	</div>
</body>
</html>